@charset "UTF-8";
.blink_me {
  animation: blinker 2.5s ease-in-out infinite; /* Skrócono czas animacji do 1.5s i zmieniono typ funkcji czasu na 'ease-in-out' */
}

@keyframes blinker {
  0% {
    opacity: 0; /* Dodano wartość początkową dla animacji */
  }
  50% {
    opacity: 1; /* Ustalono wartość w połowie animacji */
  }
  100% {
    opacity: 0; /* Ustalono wartość końcową animacji */
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 74px;
}

body {
  background-color: #ebecf2;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

.section-title {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  height: 5px;
  width: 100px;
  margin: 0 auto 40px;
  background-color: #039dff;
}

nav {
  text-transform: uppercase;
  z-index: 5;
  transition: background-color 0.6s ease-in-out;
}
nav .nav-link,
nav .navbar-nav .show,
nav .navbar-nav .nav-link.show,
nav .navbar-brand,
nav .fa-bars {
  color: #fff;
}
nav .nav-link:focus,
nav .nav-link:hover,
nav .navbar-nav .nav-link.active,
nav .navbar-nav .show > .nav.link {
  color: #039dff;
}
nav .navbar-toggler {
  padding: 10px;
  border: 1px solid transparent;
}
nav .navbar-brand:focus,
nav .navbar-brand:hover {
  color: #039dff;
}
nav .navbar-brand {
  font-weight: bold;
}
nav .navbar-brand span {
  color: #039dff;
}

header.hero-img {
  position: relative;
  height: 100vh;
  background-image: url(../img/image1small.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 1;
}
header.hero-img .hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
header.hero-img .hero-text span {
  color: #039dff;
}
header.hero-img .hero-text .blink_me {
  color: #fff;
}
header.hero-img .hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: -5;
}
header.hero-img .fa-chevron-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  font-size: 30px;
  color: white;
  transform: translateX(-50%);
}

.about i {
  font-size: 30px;
  margin-top: 20px;
}
.about .about-card-title {
  font-size: 18px;
  text-transform: uppercase;
}
.about .about-card-text {
  font-size: 14px;
}
.about .about-hover:hover {
  color: #039dff;
  transition: color 0.3s;
}
.about .about-hover {
  transition: color 0.3s;
}

.about-hero {
  position: relative;
  background-image: url("../img/image2small.jpg");
  background-size: cover;
  background-position: center;
  color: #ddd;
  z-index: 0;
}
.about-hero .about-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -5;
}
.about-hero .about-hero-item {
  margin: 10px 0;
}
.about-hero .about-hero-item i {
  font-size: 36px;
}
.about-hero .about-hero-item .about-hero-title {
  font-size: 24px;
}

.portfolio .carousel-item {
  height: fit-content;
  max-height: 800px;
}
.portfolio .carousel-caption {
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  right: 0;
  padding: 30px 0;
}
.portfolio .carousel-indicators {
  padding-bottom: 20px;
}
.portfolio .carousel-item img {
  width: 750px;
  height: 750px;
  object-fit: cover;
}

.card-group img {
  width: auto;
  height: 200px;
}

main {
  color: black;
}

.prices .price-box {
  margin: 20px;
  border: 2px solid white;
  width: auto;
  padding: 25px;
  box-shadow: 5px 2px 5px black;
  font-size: 20px;
  transition: scale 0.3s;
}
.prices .price-box i {
  font-size: 26px;
  padding: 0 5px;
}
.prices .price-box .price-title {
  text-transform: uppercase;
  color: #039dff;
  font-weight: bold;
  font-size: 24px;
}
.prices .price-box .price-tag {
  font-weight: bold;
  font-size: 30px;
}
.prices .price-box .btn-secondary {
  align-items: baseline;
  justify-content: baseline;
  scale: 1.4;
  transition: background-color 0.6s ease-in-out;
  border: none;
  transition: 0.5s;
}
.prices .price-box .btn-secondary:hover {
  transition: background-color 0.6s ease-in-out;
  color: #ddd;
  background-color: #039dff;
  scale: 1.5;
  transition: 0.5s;
}
.prices .price-box:hover {
  scale: 1.05;
}
.prices .price-info {
  margin-top: 30px;
}
.prices .price-info a {
  text-decoration: none;
}

@media (min-width: 768px) {
  .hero-text h1 {
    font-size: 42px;
  }
  .hero-text p {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  html {
    scroll-padding-top: 72px;
  }
  .about-hero {
    background-image: url("../img/image2big.jpg");
  }
}
@media (min-width: 1200px) {
  header.hero-img {
    background-image: url(../img/image1big.jpg);
  }
}/*# sourceMappingURL=main.css.map */