@use "./colors" as *;
@use "./bliniking" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #333;
  font-family: "Montserrat", sans-serif;
  color: white;
}

nav {
  text-transform: uppercase;
  z-index: 2;

  .nav-link,
  .navbar-nav .show >,
  .navbar-nav .nav-link.show,
  .navbar-brand,
  .fa-bars {
    color: $secondary-color;
  }

  .nav-link:focus,
  .nav-link:hover,
  .navbar-nav .nav-link.active,
  .navbar-nav .show > .nav.link {
    color: $primary-color;
  }

  .navbar-toggler {
    padding: 10px;
    border: 1px solid transparent;
  }
  .navbar-brand:focus,
  .navbar-brand:hover {
    color: $primary-color;
  }
  .navbar-brand {
    font-weight: bold;

    span{
      color: $primary-color;
    }
    
  }
}

header.hero-img{
    position: relative;
    height: 100vh;
    background-image: url(../img/image1big.jpg);
    background-size: fit-content;
    background-position: center;
    background-attachment: fixed;
    z-index: 1;
    max-width: 100%;

  }

.hero-text{
  position:absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
  font-size: 26px;
  overflow: hidden;
  height: max-content;
  span{
    color: $primary-color;
  }
  .blink_me{
    color: #fff;
  }
}
   
    
  

  

